<ng-include src="'/views/backButtonArea.html'"></ng-include>
<div id="optionsSelectArea">
  <h2>Please select an operation</h2>
  <table id='operationSelectionTable'>
    <tr>
      <td click-link='/difficultySelection' ng-click='operatorType("addition")' id='additionButton'>Addition</td>
      <td click-link='/difficultySelection' ng-click='operatorType("subtraction")' id='subtractionButton'>Subtraction</td>
      <td click-link='/difficultySelection' ng-click='operatorType("multiplication")' id='multiplicationButton'>Multiplication</td>
      <td click-link='/difficultySelection' ng-click='operatorType("division")' id='divisionButton'>Division</td>
    </tr>
  </table>
</div>
