<ng-include src="'/views/backButtonArea.html'"></ng-include>
<div id="optionsSelectArea">
  <h2>Please select a difficulty</h2>
  <table id='difficultySelectionTable'>
    <tr>
      <td click-link='/quizPage' ng-click='questionAmountType("5")' id='fiveButton'>Five</td>
      <td click-link='/quizPage' ng-click='questionAmountType("10")' id='tenButton'>Ten</td>
      <td click-link='/quizPage' ng-click='questionAmountType("20")' id='twentyButton'>Twenty</td>
    </tr>
    </tr>
  </table>
</div>
