<div id="tableArea">
<table id="mainTable" border="1">
  <tr>
            <td click-link='/operatorSelection'>

                    <img src="/images/MathStacks_Transparent.png" alt="Home">

            </td>
            <td click-link='/operatorSelection'>

                    <img src="/images/Tutorials.png" alt="View Tutorial">
            </td>

  </tr>
  <tr>
            <td click-link='/operatorSelection' ng-click='usageType("practice")' >

                    <img src="/images/Practice.png" alt="Practice Mode">

            </td>
            <td click-link='/operatorSelection' ng-click='usageType("quiz")' >

                    <img src="/images/Quiz.png" alt="Quiz Mode">

            </td>
  </tr>
</table>

</div>
